<%- include ('../partials/_header') %>
    <title>Recupera tu contraseña</title>
    <link rel="stylesheet" href="/resources/css/StyleReq.css">  
    <link rel="stylesheet" href="/resources/css/styleF.css" />	
</head>
<body> 
    <div class="container">
        <div class="row justify-content-center align-content-center m-0 vh-100">
            <!-- Register account -->
            <div class="card shadow col-md-4">
                <div class="card-header">
                    <h3>Recuperar contraseña</h3>
                </div>
                <div class="card-body">
                    <form action="/recover/checkout" class="row g-3 form" method="POST" id="RegisterForm">
                        <div class="col-12">
                            <input
                                class="form-control"
                                type="text"
                                name="user"
                                id="user"
                                placeholder="Usuario"
                                required
                            />
                        </div>
                        <div class="col-12">
                            <select class="form-select" name="Question" required>
                                <option selected value = "" >Elige la pregunta seleccionada</option>
                                <option
                                    value="¿Cual es el nombre de tu primera mascota?"
                                >
                                    ¿Cual es el nombre de tu primera mascota?
                                </option>
                                <option value="¿Cual es tu super heroe favorito?">
                                    ¿Cual es tu super heroe favorito?
                                </option>
                                <option value="¿Como se llama tu libro favorito?">
                                    ¿Como se llama tu libro favorito?
                                </option>
                                <option value="¿Cual es tu mayor secreto?">
                                    ¿Cual es tu mayor secreto?
                                </option>
                                <option value="¿Quien es tu mejor amigo?">
                                    ¿Quien es tu mejor amigo?
                                </option>
                                <option value="¿Cual fue tu mayor decepcion?">
                                    ¿Cual fue tu mayor decepcion?
                                </option>
                            </select>
                        </div>
                        <div class="col-12">
                            <input
                                class="form-control"
                                type="text"
                                name="Answer"
                                id="Answer"
                                placeholder="Respuesta"
                                required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="submit"
                                value="Recuperar"
                                class="btn btn-success w-100"
                            />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <p><a href="/login">Volver</a></p>
                </div>
            </div>
            <!-- Register account end -->
        </div>
    </div>
    <script src="/resources/ext/SweetAlert2/JsDelivrCDN.js"></script>
    <% if (typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showCorfimationButton: ' <%= showConfirmButton %>',
        }).then(() => {
            window.location = '/<%=ruta%>';
        });
    </script>
    <% } %> 
<%- include ('../partials/_footerAuth') %>
