<%- include ('../partials/_header') %>
		<link rel="stylesheet" href="/resources/css/datableStyle.css" />
		<link rel="stylesheet" href="/resources/css/style.css" />
		<link rel="shortcut icon" href="#">
	</head>
	<body>
		<div class="wrapper">
			<nav class="sidebar">
				<div class="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>
				<div class="sidebar-header">
					<img
						src="https://archive.sdb.org/image/sdb-logo-big.png"
						alt="..."
						width="80"
						class="rounded mx-auto d-block"
					/>
					<hr />
				</div>
				<ul class="list-unstyled">
					<li>
						<a href="/home">
							<span> <i class="fas fa-home"></i></span>
							Home
						</a>
					</li>
					<li>
						<a class="data-register-dropdown"
							><span> <i class="fas fa-database"> </i> </span
							>Registro de datos</a
						>
						<ul class="list-unstyled data-register-list">
							<li><a href="/Home/student"> Registrar estudiante</a></li>
							<li><a href="/Home/product"> Registrar productos</a></li>
							<% if (admin) { %>
							<li><a href="/Home/grade"> Registrar grados</a></li>
							<li><a href="/Home/foodbasket"> Registrar mercado</a></li>
							<% } %>
						</ul>
					</li>
					<li>
						<a class="data-history-dropdown"
							><span><i class="fas fa-history"></i></span
							>Historial</a
						>
						<ul class="list-unstyled data-history-list">
							<li><a href="/home/productHistory">Historial de productos</a></li>
							<li><a href="/home/foodBasketHistory">Historial de mercado</a></li>
							<li><a href="/home/userHistory">Historial de usuarios</a></li>
						</ul>
					</li>
					<li>
						<a href="/home/charts"
                        	><span><i class="fas fa-chart-bar"></i></span
                        	>Graficas</a
                    	>
					</li>
					<li>
						<a href="/logout"
							><span><i class="fas fa-sign-out-alt"></i></span
							>Cerrar Sesión</a
						>
					</li>
				</ul>
			</nav>

			<div class="content">
				<nav
					class="
						navbar navbar-expand-lg
						bg-danger
					"
				>
					<div class="container-fluid">
						<button
							type="button"
							id="sidebarCollapse"
							class="btn btn-danger"
						>
							<span><i class="fas fa-bars"></i></span>
						</button>
					</div>
				</nav>
				<div class="container-fluid table-responsive p-5 pt-0">
					<h1 class="text-danger text-center"> Productos </h1>
					<table id="productTable" class="product-table table table-hover">
						<thead>
							<tr>
								<th>Nombre del producto</th>
								<th>Marca</th>
								<th>Tipo</th>
								<th>Disponibilidad</th>
								<% if (disponibility) { %>
									<th>Acciones</th>
								<% } %>
							</tr>
						</thead>
						<tbody>
							<% for( let i = 0; i < productData.length; i++ ) { %>
								<% if (productData[i].Disponible || !disponibility) { %>
									<tr>
										<td><%= productData[i].NombreProducto %></td>
										<td><%=productData[i].Marca %></td>
										<td><%=productData[i].Tipo %></td>
										<% if (productData[i].Disponible) { %>
											<td>Disponible</td>
										<% } else { %>
											<td>No disponible</td>
										<% } %>
										<% if (disponibility) { %>
											<td>
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdateModalProduct<%= productData[i].IdProducto %>">
													<i class="fas fa-edit"></i>
												</button>
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModalProduct<%= productData[i].IdProducto %>">
													<i class="fas fa-trash"></i>
												</button>
											</td>
										<% } %>
									</tr>
								<% } %>
								<div class="modal fade" id="UpdateModalProduct<%= productData[i].IdProducto %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  <h5 class="modal-title text-uppercase" id="exampleModalLabel">Editar producto</h5>
										  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form action="productsEdit/<%= productData[i].IdProducto %>" method="post">
												<label class="form-label">
													Nombre del producto
												</label>
												<div class="input-group mb-3">
													<input type="text" name="nombreProducto" class="form-control" value="<%= productData[i].NombreProducto %>">
												</div>
												<label class="form-label">
													Marca del producto
												</label>
												<div class="input-group mb-3">
													<input type="text" name="Marca" class="form-control" value="<%= productData[i].Marca %>">
												</div>
												<label class="form-label">Tipo de producto</label>
												<select
													name="tipo_producto"
													class="form-select mb-3"
													required
												>
													<option selected value=""></option>
													<option value="Granos">Granos</option>
													<option value="Harinas">Harinas</option>
													<option value="Enlatados">Enlatados</option>
													<option value="Embutidos">Embutidos</option>
													<option value="Aceites y mantecas">Aceites y mantecas</option>
													<option value="Otros">Otros</option>
												</select>
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
												<button type="submit" class="btn btn-primary">Editar</button>
											</form>
										</div>
									  </div>
									</div>
								</div>
								<div class="modal fade" id="DeleteModalProduct<%= productData[i].IdProducto %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  <h5 class="modal-title text-uppercase" id="exampleModalLabel">Eliminar al producto <%= productData[i].NombreProducto %> </h5>
										  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p>¿Deseas eliminar el producto?</p>
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
											<a href="productsDelete/<%= productData[i].IdProducto %>" class="btn btn-danger">Eliminar</a>
										</div>
									  </div>
									</div>
								</div>
							<% } %>
						</tbody>
					</table>
					<a href="/home/productsNotVailable" class="btn btn-danger">Mostrar productos no disponibles</a>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
		<script src="/resources/ext/SweetAlert2/JsDelivrCDN.js"></script>
		<% if (typeof alert != "undefined") { %>
			<script>
				Swal.fire({
					title: '<%= alertTitle %>',
					text: '<%= alertMessage %>',
					icon: '<%= alertIcon %>',
					showCorfimationButton: ' <%= showConfirmButton %>',
				}).then(() => {
					window.location = '/<%=ruta%>';
				});
			</script>
		<% } %> 
<%- include ('../partials/_footerHome') %>