<%- include ('../partials/_header') %>
        <title>Registro de productos</title>
        <link rel="stylesheet" href="/resources/css/style.css" />
        <link rel="shortcut icon" href="https://archive.sdb.org/image/sdb-logo-big.png">
    </head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <img
                    src="https://archive.sdb.org/image/sdb-logo-big.png"
                    alt="..."
                    width="80"
                    class="rounded mx-auto d-block"
                />
                <hr />
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="/home">
                        <span> <i class="fas fa-home"></i></span>
                        Home
                    </a>
                </li>
                <li>
                    <a class="data-register-dropdown"
                        ><span> <i class="fas fa-database"> </i> </span
                        >Registro de datos</a
                    >
                    <ul class="list-unstyled data-register-list">
                        <li><a href="/Home/student"> Registrar estudiante</a></li>
                        <li><a href="/Home/product"> Registrar productos</a></li>
                        <% if (admin) { %>
                        <li><a href="/Home/grade"> Registrar grados</a></li>
                        <li><a href="/Home/foodbasket"> Registrar mercado</a></li>
                        <% } %>
                    </ul>
                </li>
                <% if (admin) { %>
                    <li>
                        <a class="data-history-dropdown"
                            ><span><i class="fas fa-history"></i></span
                            >Historial</a
                        >
                            <ul class="list-unstyled data-history-list">
                                <li><a href="/home/productHistory">Historial de productos</a></li>
                                <li><a href="/home/foodBasketHistory">Historial de mercado</a></li>
                                <li><a href="/home/userHistory">Historial de usuarios</a></li>
                                <li><a href="/Home/membersHistory">Historial de miembros</a></li>
                                <li><a href="/home/monetaryContribution">Historial de aportes</a></li>
                            </ul>
                        
                    </li>
                <% } %>
                <% if (admin) { %>
                    <li>
                        <a href="/home/charts"
                            ><span><i class="fas fa-chart-bar"></i></span
                            >Graficas</a
                        >
                    </li>
                <% } %>
                <li>
                    <a href="/logout"
                        ><span><i class="fas fa-sign-out-alt"></i></span
                        >Cerrar Sesión</a
                    >
                </li>
            </ul>
        </nav>

        <div class="content">
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container-fluid">
                    <button
                        type="button"
                        id="sidebarCollapse"
                        class="btn btn-danger"
                    >
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                </div>
            </nav>
            <div class="container-fluid">
                <form method="POST" class="form p-3" action="/Home/registerproduct">
                    <h1 class="text-center text-danger">
                        Registro de productos
                    </h1>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label m-2">Nombre del producto</label>
                            <input
                                type="text"
                                class="form-control"
                                name="nombre_producto"
                                required
                            />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label m-2"
                                >Tipo de producto</label
                            >
                            <select
                                name="tipo_producto"
                                class="form-select"
                                required
                            >
                                <option selected value=""></option>
                                <option value="Granos">Granos</option>
                                <option value="Harinas">Harinas</option>
                                <option value="Enlatados">Enlatados</option>
                                <option value="Embutidos">Embutidos</option>
                                <option value="Aceites y mantecas">Aceites y mantecas</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label m-2"
                                >Cantidad</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                name="cantidad"
                                required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label m-2">Marca</label>
                            <input
                                type="text"
                                class="form-control"
                                name="marca"
                                required
                            />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label m-2">Grado</label>
                            <select
                                name="grado"
                                class="form-select"
                                required
                            >   
                                <option selected value=""></option>
                                <% for( let i = 0; i < grados.length; i++ ) { %>
                                    <option value= "<%= grados[i].Grado %>"><%= grados[i].Grado %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <button
                    type="submit"
                    class="btn btn-danger"
                    style="margin-top: 40px; width: 200px;"
                    >
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <script src="/resources/ext/SweetAlert2/JsDelivrCDN.js"></script>
    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showCorfimationButton: ' <%= showConfirmButton %>',
            }).then(() => {
                window.location = '/<%=ruta%>';
            });
        </script>
    <% } %> 
<%- include ('../partials/_footerHome') %>