<%- include ('../partials/_header') %>
        <link rel="stylesheet" href="/resources/css/style.css" />
    </head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <img
                    src="https://archive.sdb.org/image/sdb-logo-big.png"
                    alt="..."
                    width="80"
                    class="rounded mx-auto d-block"
                />
                <hr />
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="/home">
                        <span> <i class="fas fa-home"></i></span>
                        Home
                    </a>
                </li>
                <li>
                    <a class="data-register-dropdown"
                        ><span> <i class="fas fa-database"> </i> </span
                        >Registro de datos</a
                    >
                    <ul class="list-unstyled data-register-list">
                        <li>
                            <a href="/Home/registerstudent">
                                Registrar estudiante</a
                            >
                        </li>
                        <li><a href="/Home/registerproduct"> Registrar productos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"
                        ><span><i class="fas fa-history"></i></span
                        >Historial</a
                    >
                </li>
                <li>
                    <a href="#"
                        ><span><i class="fas fa-cog"></i></span
                        >Configuraciones</a
                    >
                </li>
                <li>
                    <a href="/logout"
                        ><span><i class="fas fa-sign-out-alt"></i></span
                        >Cerrar Sesión</a
                    >
                </li>
            </ul>
        </nav>

        <div class="content">
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container-fluid">
                    <button
                        type="button"
                        id="sidebarCollapse"
                        class="btn btn-danger"
                    >
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                </div>
            </nav>
            <div class="container-fluid">
                <form method="POST" class="form p-3">
                    <h1 class="text-center text-danger">
                        Registro de productos
                    </h1>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label m-2">Nombre del producto</label>
                            <input
                                type="text"
                                class="form-control"
                                id="last_name"
                                name="lastname"
                                required
                            />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label m-2"
                                >Tipo de producto</label
                            >
                            <select
                                name="typedocument"
                                id="document"
                                class="form-select"
                                required
                            >
                                <option selected value=""></option>
                                <option value="Granos">Granos</option>
                                <option value="Harinas">Harinas</option>
                                <option value="Enlatados">Enlatados</option>
                                <option value="Embutidos">Embutidos</option>
                                <option value="Aceites y mantecas">Aceites y mantecas</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label m-2"
                                >Cantidad</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="inputCity"
                                name="document"
                                required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label m-2">Marca</label>
                            <input
                                type="text"
                                class="form-control"
                                id="last_name"
                                name="lastname"
                                required
                            />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label m-2">Grado</label>
                            <select
                                name="typedocument"
                                id="document"
                                class="form-select"
                                required
                            >
                                <option selected value=""></option>
                                <option value="Preescolar">Preescolar</option>
                                <option value="Primero">Primero</option>
                                <option value="Segundo">Segundo</option>
                                <option value="Tercero">Tercero</option>
                                <option value="Cuarto">Cuarto</option>
                                <option value="Quinto">Quinto</option>
                                <option value="Sexto">Sexto</option>
                                <option value="Septimo">Septimo</option>
                                <option value="Octavo">Octavo</option>
                                <option value="Noveno">Noveno</option>
                                <option value="Decimo">Decimo</option>
                                <option value="Undecimo">Undecimo</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label m-2"
                                >Grupo</label
                            >
                            <select
                                name="grupo"
                                class="form-select"
                                required
                            >
                                <option selected value=""></option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value=" ">Unico grupo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label m-2"
                                >Fecha de vencimiento</label
                            >
                            <input
                                type="date"
                                class="form-control"
                                name="vencimiento"
                                required
                            />
                        </div>
                    </div>
                    <button
                    type="submit"
                    class="btn btn-danger"
                    style="margin-top: 40px; width: 200px;"
                    >
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <script src="/resources/ext/SweetAlert2/JsDelivrCDN.js"></script>
    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showCorfimationButton: ' <%= showConfirmButton %>',
            }).then(() => {
                window.location = '/<%=ruta%>';
            });
        </script>
    <% } %> 
<%- include ('../partials/_footer') %>