<%- include ('../partials/_header') %>
        <title>Crear mercado</title>
        <link rel="stylesheet" href="/resources/css/style.css" />
        <link rel="shortcut icon" href="https://archive.sdb.org/image/sdb-logo-big.png">
    </head>
<body>
    <div class="wrapper">
        <nav class="sidebar">
            <div class="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <img
                    src="https://archive.sdb.org/image/sdb-logo-big.png"
                    alt="..."
                    width="80"
                    class="rounded mx-auto d-block"
                />
                <hr />
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="/home">
                        <span> <i class="fas fa-home"></i></span>
                        Home
                    </a>
                </li>
                <li>
                    <a class="data-register-dropdown"
                        ><span> <i class="fas fa-database"> </i> </span
                        >Registro de datos</a
                    >
                    <ul class="list-unstyled data-register-list">
                        <li><a href="/Home/student"> Registrar estudiante</a></li>
                        <li><a href="/Home/product"> Registrar productos</a></li>
                        <% if (admin) { %>
                        <li><a href="/Home/grade"> Registrar grados</a></li>
                        <li><a href="/Home/foodbasket"> Registrar mercado</a></li>
                        <% } %>
                    </ul>
                </li>
                <% if (admin) { %>
                    <li>
                        <a class="data-history-dropdown"
                            ><span><i class="fas fa-history"></i></span
                            >Historial</a
                        >
                            <ul class="list-unstyled data-history-list">
                                <li><a href="/home/productHistory">Historial de productos</a></li>
                                <li><a href="/home/foodBasketHistory">Historial de mercado</a></li>
                                <li><a href="/home/userHistory">Historial de usuarios</a></li>
                                <li><a href="/Home/membersHistory">Historial de miembros</a></li>
                                <li><a href="/home/monetaryContribution">Historial de aportes</a></li>
                            </ul>
                        
                    </li>
                <% } %>
                <% if (admin) { %>
                    <li>
                        <a href="/home/charts"
                            ><span><i class="fas fa-chart-bar"></i></span
                            >Graficas</a
                        >
                    </li>
                <% } %>
                <li>
                    <a href="/logout"
                        ><span><i class="fas fa-sign-out-alt"></i></span
                        >Cerrar Sesión</a
                    >
                </li>
            </ul>
        </nav>

        <div class="content">
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container-fluid">
                    <button
                        type="button"
                        id="sidebarCollapse"
                        class="btn btn-danger"
                    >
                        <span><i class="fas fa-bars"></i></span>
                    </button>
                </div>
            </nav>
            <div class="container-fluid">
               <h1 class="text-center text-danger mb-2">Crear mercados</h1>
               <h4 class="text-muted">Productos incluidos: </h4>
               <form action="/home/createFoodBasket" method="post">
                   <div class="row">
                       <div class="col-md-2">
                           <div class="input-group mt-2 mb-3" >
                               <input type="number" name="Granos" id="granos" class="form-control" placeholder="Cantidad por mercado" min="1" required>
                           </div>
                           <input type="checkbox" id="checkGranos" class="form-check-input">
                           <label for="" class="form-check-label">Granos</label>
                        </div>
                       <div class="col-md-2">
                            <div class="input-group mt-2 mb-3">
                                <input type="number" name="Harinas" id="harinas" class="form-control" placeholder="Cantidad por mercado" min="1" required>
                            </div>
                            <input type="checkbox" id="checkHarinas" class="form-check-input">
                            <label for="" class="form-check-label">Harinas</label>
                        </div>
                       <div class="col-md-2">
                            <div class="input-group mt-2 mb-3">
                                <input type="number" name="Enlatados" id="enlatados" class="form-control" placeholder="Cantidad por mercado" min="1" required>
                            </div>
                           <input type="checkbox" id="checkEnlatados" class="form-check-input">
                           <label for="" class="form-check-label">Enlatados</label>
                        </div>
                       <div class="col-md-2">
                            <div class="input-group mt-2 mb-3">
                                <input type="number" name="Embutidos" id="embutidos" class="form-control" placeholder="Cantidad por mercado" min="1" required>
                            </div>
                           <input type="checkbox" id="checkEmbutidos" class="form-check-input">
                           <label for="" class="form-check-label">Embutidos</label>
                        </div>
                       <div class="col-md-2">
                            <div class="input-group mt-2 mb-3">
                                <input type="number" name="Aceites y mantecas" id="aceites" class="form-control" placeholder="Cantidad por mercado" min="1" required>
                            </div>
                           <input type="checkbox" id="checkAceites" class="form-check-input">
                           <label for="" class="form-check-label">Aceites y mantecas</label>
                        </div>
                       <div class="col-md-2">
                            <div class="input-group mt-2 mb-3">
                                <input type="number" name="Otros" id="otros" class="form-control" placeholder="Cantidad por mercado" min="1" required>
                            </div>
                           <input type="checkbox" id="checkOtros" class="form-check-input">
                           <label for="" class="form-check-label">Otros</label>
                        </div>
                   </div>
                   <input type="submit" value="Generar mercados" class="btn btn-danger mt-4 p-2">
               </form>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <script src="/resources/ext/SweetAlert2/JsDelivrCDN.js"></script>
    <% if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showCorfimationButton: ' <%= showConfirmButton %>',
            }).then(() => {
                window.location = '/<%=ruta%>';
            });
        </script>
    <% } %> 
<%- include ('../partials/_footerHome') %>